{% extends 'base.html.twig' %}

{% block title %}Détail de l'unité{% endblock %}

{% block body %}
    <div class="container py-5">
        <h3 class="text-primary mb-4">Unité n°{{ unit.id }}</h3>

        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-3">Détails :</h5>
                <ul class="list-group mb-3">
                    <li class="list-group-item"><strong>Baie :</strong> {{ unit.bay.reference }}</li>
                    <li class="list-group-item"><strong>Utilisation :</strong> <span style="color: {{ unit.usage.color }}">{{ unit.usage.type }}</span></li>
                    <li class="list-group-item"><strong>État :</strong> <span style="color: {{ unit.state.state == 'Allumée' ? 'green' : 'red' }}">{{ unit.state.state }}</span></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
